@import "bw.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 0px;
  margin: 5px;
  background-color: @simplegray;
  margin-left: 1rem;
}

#workspaces button {
  color: @gray;
  border-radius: 0px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @yellow;
  border-radius: 0px;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#temperature {
  background-color: @simplegray;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @yellow;
}

#battery {
  color: @gray;
}

#battery.charging {
  color: @gray;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0px;
}

#pulseaudio {
  color: @peach;
  border-radius: 0px;
  margin-left: 1rem;
}

#temperature {
  color: @gray;
  border-radius: 0px;
  margin-right: 1rem;
}

#custom-music {
  color: @gray;
  border-radius: 0px;
}

#custom-lock {
  border-radius: 0px;
  color: @gray;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px;
  color: @peach;
}

#tray {
  margin-right: 1rem;
  border-radius: 0px;
}
